@import url("https://fonts.googleapis.com/css?family=Unica+One|Work+Sans:400,700,900|Playfair+Display:700&display=swap");
@font-face {
  font-family: AntDesign;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/AntDesign.ttf) format("truetype"); }

@font-face {
  font-family: Entypo;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Entypo.ttf) format("truetype"); }

@font-face {
  font-family: EvilIcons;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/EvilIcons.ttf) format("truetype"); }

@font-face {
  font-family: Feather;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Feather.ttf) format("truetype"); }

@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontAwesome.ttf) format("truetype"); }

@font-face {
  font-family: FontAwesome5;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontAwesome5.ttf) format("truetype"); }

@font-face {
  font-family: FontAwesome5Brands;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontAwesome5_Brands.ttf) format("truetype"); }

@font-face {
  font-family: Foundation;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Foundation.ttf) format("truetype"); }

@font-face {
  font-family: Ionicons;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Ionicons.ttf) format("truetype"); }

@font-face {
  font-family: MaterialCommunityIcons;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialCommunityIcons.ttf) format("truetype"); }

@font-face {
  font-family: MaterialIcons;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons.ttf) format("truetype"); }

@font-face {
  font-family: Octicons;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Octicons.ttf) format("truetype"); }

@font-face {
  font-family: SimpleLineIcons;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SimpleLineIcons.ttf) format("truetype"); }

@font-face {
  font-family: Zocial;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Zocial.ttf) format("truetype"); }

html {
  height: 100%; }

body {
  padding: 30px;
  font-family: Work Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  height: 100%; }

.contents {
  flex: 1 0 auto;
  min-height: 200px; }

.top-line {
  min-height: 60px; }
  .top-line button, .top-line img {
    vertical-align: middle; }
  .top-line button {
    background: #37b2f6; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

h1 {
  font-weight: bold;
  font-family: "Playfair Display"; }

.oses-header h1, .oses-header .blurb {
  width: 75%; }

.oses-header h1 {
  font-size: 350%; }

.oses-header .blurb p {
  font-size: 20px;
  line-height: 1.35em;
  letter-spacing: 0.4px;
  color: #666; }

.background-layer {
  z-index: 0; }
  .background-layer .inner {
    margin: auto;
    position: absolute;
    top: 10%;
    right: 10%; }

.container.team, .container.advisors, .container.about {
  margin-top: 5vh; }
  .container.team h1, .container.advisors h1, .container.about h1 {
    font-size: 210%; }
  .container.team > .row, .container.advisors > .row, .container.about > .row {
    margin-top: 5vh; }
    .container.team > .row div, .container.advisors > .row div, .container.about > .row div {
      text-align: center; }
      .container.team > .row div h3, .container.advisors > .row div h3, .container.about > .row div h3 {
        font-size: 140%;
        margin-top: 2vh; }
      .container.team > .row div p, .container.advisors > .row div p, .container.about > .row div p {
        color: #666; }
      .container.team > .row div img, .container.advisors > .row div img, .container.about > .row div img {
        width: 25%;
        height: auto;
        border-radius: 50%;
        margin-left: auto;
        border: 5px solid rgba(0, 0, 255, 0.5); }
      .container.team > .row div .team-links span, .container.advisors > .row div .team-links span, .container.about > .row div .team-links span {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 200%;
        cursor: pointer; }

.container.advisors img {
  border: 5px solid rgba(0, 128, 0, 0.5) !important; }

.container.about > .row p {
  text-align: left; }

footer {
  padding-top: 32px; }
  footer .container {
    text-align: center; }
  footer .copyright {
    margin-bottom: 35px;
    text-align: center;
    color: #777; }
  footer ul {
    ist-style-type: none;
    padding: 0;
    margin-bottom: 18px; }
  footer a {
    color: #282b2d;
    font-size: 18px; }
  footer li {
    display: inline-block;
    margin: 0px 15px;
    line-height: 2; }
  footer .social {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #eee;
    display: none; }
  footer .fa {
    font-size: 36px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #d0d0d0;
    border-radius: 51%;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition: color 0.2s; }
  footer .fa-facebook:hover {
    color: #2b55ff; }
  footer .fa-facebook:focus {
    color: #2b55ff; }
  footer .fa-google-plus:hover {
    color: red; }
  footer .fa-google-plus:focus {
    color: red; }
  footer .fa-twitter:hover {
    color: #00aced; }
  footer .fa-twitter:focus {
    color: #00aced; }
