$body-padding: 30px;

@import url('https://fonts.googleapis.com/css?family=Unica+One|Work+Sans:400,700,900|Playfair+Display:700&display=swap');

@font-face{font-family:AntDesign;font-style:normal;font-weight:400;src:url(fonts/AntDesign.ttf) format('truetype')}@font-face{font-family:Entypo;font-style:normal;font-weight:400;src:url(fonts/Entypo.ttf) format('truetype')}@font-face{font-family:EvilIcons;font-style:normal;font-weight:400;src:url(fonts/EvilIcons.ttf) format('truetype')}@font-face{font-family:Feather;font-style:normal;font-weight:400;src:url(fonts/Feather.ttf) format('truetype')}@font-face{font-family:FontAwesome;font-style:normal;font-weight:400;src:url(fonts/FontAwesome.ttf) format('truetype')}@font-face{font-family:FontAwesome5;font-style:normal;font-weight:400;src:url(fonts/FontAwesome5.ttf) format('truetype')}@font-face{font-family:FontAwesome5Brands;font-style:normal;font-weight:400;src:url(fonts/FontAwesome5_Brands.ttf) format('truetype')}@font-face{font-family:Foundation;font-style:normal;font-weight:400;src:url(fonts/Foundation.ttf) format('truetype')}@font-face{font-family:Ionicons;font-style:normal;font-weight:400;src:url(fonts/Ionicons.ttf) format('truetype')}@font-face{font-family:MaterialCommunityIcons;font-style:normal;font-weight:400;src:url(fonts/MaterialCommunityIcons.ttf) format('truetype')}@font-face{font-family:MaterialIcons;font-style:normal;font-weight:400;src:url(fonts/MaterialIcons.ttf) format('truetype')}@font-face{font-family:Octicons;font-style:normal;font-weight:400;src:url(fonts/Octicons.ttf) format('truetype')}@font-face{font-family:SimpleLineIcons;font-style:normal;font-weight:400;src:url(fonts/SimpleLineIcons.ttf) format('truetype')}@font-face{font-family:Zocial;font-style:normal;font-weight:400;src:url(fonts/Zocial.ttf) format('truetype')}


html { height: 100%; }
body {
    padding: $body-padding; font-family: Work Sans, sans-serif; -webkit-font-smoothing: antialiased;
    display: flex; flex-direction: column; height: 100%;
}

.contents { flex: 1 0 auto; min-height: 200px; }
.top-line { min-height: 60px; button, img { vertical-align: middle; } button { background: rgb(55, 178, 246); } }
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
h1 { font-weight: bold; font-family: "Playfair Display"; }
.oses-header {
    h1, .blurb { width: 75%; }
    h1 { font-size: 350%; }
    .blurb {
	p { font-size: 20px; line-height: 1.35em; letter-spacing: 0.4px; color: #666; }
    }
}
.background-layer {
    z-index: 0;
    .inner { margin: auto; position: absolute; top: 10%; right: 10%; }
}
.container.team, .container.advisors, .container.about {
    margin-top: 5vh;
    h1 { font-size: 210%; }
    > .row {
	margin-top: 5vh;
	div {
	    text-align: center;
	    h3 { font-size: 140%; margin-top: 2vh; }
	    p { color: #666; }
 	    img { width: 25%; height: auto; border-radius: 50%; margin-left: auto; border: 5px solid rgba(blue, 0.5); }
	    .team-links { span { margin-left: 5px; margin-right: 5px; font-size: 200%; cursor: pointer; }}
	}
    }
}

.container.advisors {
    img { border: 5px solid rgba(green, 0.5) !important; }
}

.container.about > .row { p { text-align: left; } }

footer {
    padding-top:32px;

    .container { text-align: center; }
    .copyright{ margin-bottom: 35px; text-align: center; color: #777; }
    ul { ist-style-type: none; padding: 0; margin-bottom: 18px; }
    a { color: #282b2d; font-size: 18px; }
    li { display: inline-block; margin: 0px 15px; line-height: 2; }
    .social { text-align: center; padding-top: 25px; padding-bottom: 25px; background-color: #eee; display: none; }
    .fa { font-size: 36px; margin-right: 15px; margin-left: 20px; background-color: white; color: #d0d0d0; border-radius: 51%;
	  padding: 10px; height: 60px; width: 60px; text-align: center; line-height: 43px; text-decoration: none; transition:color 0.2s; }

    .fa-facebook:hover { color: #2b55ff; }
    .fa-facebook:focus { color: #2b55ff; }
    .fa-google-plus:hover { color:red; }
    .fa-google-plus:focus { color:red; }
    .fa-twitter:hover { color: #00aced; }
    .fa-twitter:focus { color:#00aced; }
}
